@media screen and (min-width: 1024px) and (max-device-width:1200px){
    .info {
        display: grid;
        gap: 2;
        padding: auto;
        font-family:vazir;
        color: blue;
        font-size: 2rem;
        margin-right: 40rem;
        margin-top: -22rem;
    }
    .tozihat {
        width: 250px;
        margin-right: 40rem;
        font-family: vazir;
        color: green;
        font-size: 20px;
    }
}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .info {
        display: grid;
        gap: 2;
        padding: auto;
        font-family: vazir;
        color: blue;
        font-size: 2rem;
        margin-left: 15rem;
        margin-top: 15rem;
    }

    .banner {
        gap: 2rem;
        margin-top: 10rem;
        margin-left: 41rem;
    }

    .tozihat {
        display: grid;
        gap: 4rem;
        font-style: italic;
        font-size: 22px;
        margin-top: -2rem;
        margin-left: 12rem;
        color: green;
        width: 20rem;
    }
.matn {
    width: 30rem;
    margin-right: 50rem;
    margin-top: -42rem;
}
.banner {
    width: 700px;
    height: 500px;
}
}
@media screen and (min-device-width:320px) and (max-device-width:480px){
    .banner {
        width: 50%;
        height: 200px;
    }
}