.header {
    background-color: #1a1d24;
    height: 6rem;
    margin-top: -1rem;
    width: 100%;
    display: grid;
}


.container {
    padding-inline: 8rem;
}

.navbar {
    align-items: canter;
    padding-block: 1rem;
}

.navlist {
    gap: 1rem;
    position: relative;
    display: flex;
    list-style: none;
}

.navitem {
    min-width: 10rem;
    text-align: center;
    padding-block: 1rem;
    margin-top: 11px;
    text-decoration: none;
}

.navlink {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-family: vazir;
}

.active {
    position: absolute;
    bottom: 1rem;
    height: 0.2rem;
    width: 10rem;
    background-color: #fff;
    transition: transform 0.25s;
}

.navitem:nth-child(2):hover~.active {
    transform: translateX(-11rem);
}

.navitem:nth-child(3):hover~.active {
    transform: translateX(-22rem);
}

.navitem:nth-child(4):hover~.active {
    transform: translateX(-33rem);
}

.navitem:nth-child(5):hover~.active {
    transform: translateX(-44rem);
}




@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .image {

        margin-right: 19rem;
    }
}

@media screen and (min-device-width:1600px) {
    .image {
        margin-right: 34rem;
    }

}

@media screen and (max-device-width:480px){
    .header {
        width: 100%;
    }
    .navbar {
        visibility: hidden;
    }
    .navitem{
        visibility: hidden;
    }


}