.asli {
    margin-top: -58rem;
}
.subject {
    margin-right: 37rem;
    font-size: 40px;
    font-family: vazir;
    color: blue;
}
.container {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,350px);
    background-color: whitesmoke;
    padding: 10px;
}
.item {
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
    gap: 2;
    font-size: 35px;
    text-align:center;
    margin: 25px;
    border-radius: 25px;
}
.title {
    color:blue;
    font-family: vazir;
}
.tozih {
    font-family: vazir;
    font-size: 25px;
    margin-top: -1rem;
}
.ehraz {
    font-size: 30px;
    font-family: vazir;
    margin-top: -1rem;
}